<a href="https://colab.research.google.com/github/prgmr99/deep_learning-pytorch-/blob/others/DataFrame_basic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Query**

데이터프레임에서 불리언 표현식을 사용해서 조건을 만든 후 이를 사용해 필터링하는 것처럼 query 메서드를 사용하면 특정 조건에 부합하는 데이터를 쉽게 필터링 할 수 있다.

In [2]:
from pandas import DataFrame
data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = DataFrame(data=data)
df = df.set_index('cd')
print(df)

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [5]:
cond = df['open'] >= 2000
print(df[cond])

             nm  open  close
cd
A060310      3S  2920   2800
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [6]:
df[cond]

             nm  open  close
cd
A060310      3S  2920   2800
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [8]:
# query 메서드로 필터링해보자.
# 큰따옴표 -> 작은따옴표
print(df.query("nm=='3S'"))
print(df.query('nm=="3S"'))

         nm  open  close
cd
A060310  3S  2920   2800
         nm  open  close
cd
A060310  3S  2920   2800

In [11]:
print(df.query("open > close")) # 파이썬의 기본 비교 연산자 사용 가능

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010

In [12]:
print(df.query("nm in ['3S', 'AK홀딩스']"))
# 특정 종목만 선택할 수도 있다. 
# in 연산자는 뒤에 나오는 자료구조에 나열된 데이터만 선택한다.

            nm  open  close
cd
A060310     3S  2920   2800
A006840  AK홀딩스  2020   2010

In [14]:
df.query("cd=='A060310'")

         nm  open  close
cd
A060310  3S  2920   2800

In [17]:
name="AJ네트워크"
df.query('nm==@name')

Empty DataFrame
Columns: [nm, open, close]
Index: []

# **Filter**

query 메서드가 값을 사용해서 필터링 할 수 있었다면

filter 메서드는 인덱스나 컬럼 이름에 대해서 특정 조건으로 필터링 할 수 있다.

In [19]:
from pandas import DataFrame

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
print(df)

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88